#navigation {
  background-color: #ffedef;
  color: black;
}

.hero-title {
  font-size: 25px;
  font-weight: 300;
  font-family: "Work Sans", sans-serif;
}

.hero-name {
  font-size: 95px;
  font-family: Pacifico;
  text-shadow: 7px 7px #f58590;
  color: #ecb3b9;
  text-align: left;
}

.hero-desc {
  font-size: 25px;
  font-weight: 400;
  font-family: "Pacifico", sans-serif;
  text-align: left;
  color: green;
  padding-left: 20px;
}

.hero-button {
  height: 65px;
  width: 180px;
  border-radius: 35px;
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  border: solid 1px black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}